.Dashboard {
    background: #303F9F;
    height: 63px;
    text-align: center;
}

.Dashboard a {
    color: #E8EAF6;
    text-decoration: none;
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
    padding: 9px;
    margin-left: 3px;
}

.Dashboard a:hover {
    color: #303F9F;
    background: #E8EAF6;
}

.Dashboard-float-right {
    float: right;
    margin-right: 5px;
    position: relative;
    top: 30%;
}

.Dashboard-float-left {
    float: left;
    margin-left: 5px;
    position: relative;
    top: 30%;
}
