.FlashMessage {
    background: #4CAF50;
    text-align: left;
    margin-top: 7px;
    margin-bottom: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    font-weight: bold;
    font-size: 14px;
}
