form {
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    width: 650px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    font-style: italic;
    line-height: 24px;
    font-weight: bold;
    color: #303F9F;
    text-decoration: none;
    border-radius: 2px;
    padding: 10px;
    border: 1px solid #303F9F;
    border: inset 1px solid #333;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  }

 input {
    width: 375px;
    display: block;
    border: 1px solid #999;
    height: 25px;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
 }

 input[type=button] {
    width: 100px;
    position: relative;
    left: 83%;
    background: #E8EAF6;
    color: #303F9F;
    font-family: Tahoma, Geneva, sans-serif;
    height: 30px;
    border-radius: 7px;
    border: 1p solid #303F9F;
  }
  
  input[type=button]:hover {
    color: #E8EAF6;
    background: #303F9F;
  }
